@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito&family=REM&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-input input{
  background-color: hsla(0, 0%, 100%, .65);
  letter-spacing: .025em;
}

.form-input input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(241, 239, 239) inset !important;
}

.blurry{
  filter: blur(5px);
}

body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 10px 10px rgb(150, 140, 140);
  border: solid 1px transparent;
  border-radius: 20px;
}

.month-scroll::-webkit-scrollbar{
    width: 10px;
    margin: auto;
}
.month-scroll::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 10px 1px rgb(150, 140, 140);
    border: solid 7px transparent;
    border-radius: 20px;
}